@import "./reset";
@import "./pollListStyles";
@import "vue-select/dist/vue-select.css";

:root {
  --app-color: #fa0056;
}

#app {
  padding: 60px 0;
  min-height: 100vh;
  font-family: Montserrat;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  width: fit-content;
  transition: background-color 0.2s ease-in-out;
  &.app-btn {
    color: var(--app-text-color);
    background-color: var(--app-color);
  }
}
.polls-container {
  max-width: 790px;
  width: 100%;
}
.poll-elements__title {
  margin-bottom: 20px;
  text-align: center;
  color: #202020;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
}

.container {
  max-width: 1240px;
  padding: 0px 20px;
  margin: auto;
}

.poll-pages {
  min-height: 420px;
  padding: 20px;
  border-radius: 8px;
  background: #ecf4ff;
}
.polls-pagination {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background: #ecf4ff;
}
.polls-pagination__wrapper {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.polls-page-btn {
  cursor: pointer;
  margin: 5px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262b31;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(37, 51, 66, 0.08);
  &.active {
    color: #fff;
    background-color: var(--app-color);
  }
}

.poll-page-head {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #202020;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.poll-page-comment {
  margin-bottom: 20px;
}
.comment__input {
  outline: none;
  padding: 10px 12px;
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid rgba(0, 66, 105, 0.28);
  background: #fff;
}

.poll-page-body {
  position: relative;
  min-height: 300px;
}

.poll-page-zone {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 2px dashed rgba(0, 66, 105, 0.28);
}

.poll-page-zone__image {
  width: 82px;
  height: 82px;
  margin-bottom: 8px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='84' height='84' viewBox='0 0 84 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='41.9999' cy='42.0001' r='37.099' fill='url(%23paint0_linear_1181_45209)'/%3e%3cpath d='M79.0988 42.0001C79.0988 37.1282 78.1393 32.304 76.2749 27.8029C74.4105 23.3019 71.6778 19.2121 68.2328 15.7672C64.7878 12.3222 60.6981 9.58951 56.197 7.72511C51.696 5.86072 46.8718 4.90112 41.9999 4.90112V42.0001H79.0988Z' fill='url(%23paint1_linear_1181_45209)'/%3e%3cg filter='url(%23filter0_ii_1181_45209)'%3e%3cpath d='M35.1294 62.6111C35.1294 58.8169 38.2053 55.741 41.9996 55.741C45.7939 55.741 48.8698 58.8169 48.8698 62.6111C48.8698 66.4054 45.7939 69.4813 41.9996 69.4813C38.2053 69.4813 35.1294 66.4054 35.1294 62.6111Z' fill='white'/%3e%3c/g%3e%3cpath d='M35.1294 62.6107C35.1294 58.8164 38.2053 55.7405 41.9996 55.7405C45.7939 55.7405 48.8698 58.8164 48.8698 62.6107C48.8698 66.405 45.7939 69.4808 41.9996 69.4808C38.2053 69.4808 35.1294 66.405 35.1294 62.6107Z' fill='%23FA0056'/%3e%3cpath d='M4.81274 41.8127L41.8623 78.8623L78.9119 41.8127H4.81274Z' fill='url(%23paint2_linear_1181_45209)'/%3e%3cpath d='M28.7788 29.7788C28.7788 22.5991 34.5991 16.7788 41.7788 16.7788C48.9585 16.7788 54.7788 22.5991 54.7788 29.7788C54.7788 35.233 51.4199 39.9028 46.6577 41.8323C44.0984 42.8692 41.7788 45.0174 41.7788 47.7788V50.7788' stroke='%23F10153' stroke-width='10'/%3e%3cdefs%3e%3cfilter id='filter0_ii_1181_45209' x='35.1294' y='55.741' width='13.7402' height='16.8563' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3e%3cfeOffset dy='3.11584'/%3e%3cfeGaussianBlur stdDeviation='1.55792'/%3e%3cfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.15 0'/%3e%3cfeBlend mode='normal' in2='shape' result='effect1_innerShadow_1181_45209'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3e%3cfeOffset/%3e%3cfeGaussianBlur stdDeviation='23.3688'/%3e%3cfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0'/%3e%3cfeBlend mode='normal' in2='effect1_innerShadow_1181_45209' result='effect2_innerShadow_1181_45209'/%3e%3c/filter%3e%3clinearGradient id='paint0_linear_1181_45209' x1='-3.66041' y1='-20.7181' x2='102.702' y2='-7.34063' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.0261371' stop-color='%23AD073D' stop-opacity='0.81'/%3e%3cstop offset='1' stop-color='%23AD073D' stop-opacity='0'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_1181_45209' x1='-3.66041' y1='-20.7181' x2='102.702' y2='-7.34063' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.0261371' stop-color='%23AD073D' stop-opacity='0.81'/%3e%3cstop offset='1' stop-color='%23AD073D' stop-opacity='0'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_1181_45209' x1='29.5124' y1='49.4126' x2='89.3617' y2='31.3629' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23AD073D' stop-opacity='0'/%3e%3cstop offset='1' stop-color='%23AD073D'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
}
.constructor__handlers {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  background: #ecf4ff;
  margin-bottom: 20px;
}

.app-container__inner {
  align-items: flex-start;
  display: flex;
  // gap: 30px;
  gap: 20px;
}

.poll-list-sidebar {
  max-width: 390px;
  width: 100%;
  // padding: 15px;
  padding: 20px;
  background: #ecf4ff;
  position: sticky;
  top: 85px;
  left: 0;
  border-radius: 8px;
}

.poll-item {
  background: #fff;
  padding: 30px;
  margin: 20px 0;
  border-radius: 8px;
}
.poll-item__head,
.poll-item__name,
.poll-item__head-wrapper {
  display: flex;
  align-items: center;
  color: #707683;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}
.poll-item__head {
  margin-bottom: 20px;
}

.poll-item__name {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    cursor: grabbing;
    display: block;
    content: "";
    width: 6px;
    height: 30px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-size: 6px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='30' viewBox='0 0 6 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='6' width='2' height='2' transform='rotate(90 6 0)' fill='%2390A0B7'/%3e%3crect x='2' width='2' height='2' transform='rotate(90 2 0)' fill='%2390A0B7'/%3e%3crect x='6' y='4' width='2' height='2' transform='rotate(90 6 4)' fill='%2390A0B7'/%3e%3crect x='2' y='4' width='2' height='2' transform='rotate(90 2 4)' fill='%2390A0B7'/%3e%3crect x='6' y='8' width='2' height='2' transform='rotate(90 6 8)' fill='%2390A0B7'/%3e%3crect x='2' y='8' width='2' height='2' transform='rotate(90 2 8)' fill='%2390A0B7'/%3e%3crect x='6' y='12' width='2' height='2' transform='rotate(90 6 12)' fill='%2390A0B7'/%3e%3crect x='2' y='12' width='2' height='2' transform='rotate(90 2 12)' fill='%2390A0B7'/%3e%3crect x='6' y='16' width='2' height='2' transform='rotate(90 6 16)' fill='%2390A0B7'/%3e%3crect x='2' y='16' width='2' height='2' transform='rotate(90 2 16)' fill='%2390A0B7'/%3e%3crect x='6' y='20' width='2' height='2' transform='rotate(90 6 20)' fill='%2390A0B7'/%3e%3crect x='2' y='20' width='2' height='2' transform='rotate(90 2 20)' fill='%2390A0B7'/%3e%3crect x='6' y='24' width='2' height='2' transform='rotate(90 6 24)' fill='%2390A0B7'/%3e%3crect x='2' y='24' width='2' height='2' transform='rotate(90 2 24)' fill='%2390A0B7'/%3e%3crect x='6' y='28' width='2' height='2' transform='rotate(90 6 28)' fill='%2390A0B7'/%3e%3crect x='2' y='28' width='2' height='2' transform='rotate(90 2 28)' fill='%2390A0B7'/%3e%3c/svg%3e ");
  }
}

.poll-item__title {
  margin-right: 10px;
}

.poll-item__num {
  width: fit-content;
  background-color: var(--app-color);
  padding: 10px 18px;
  border-radius: 123px;
  color: var(--app-text-color);
  font-size: 18px;
  margin-right: 10px;
}

.poll-item__handlers {
  gap: 10px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.poll-remove,
.remove-btn,
.poll-edit {
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poll-edit {
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &.setting {
    padding: 4px;
  }
}

.editor-wrapper {
  margin-bottom: 20px;
}
hr {
  border: none;
  height: 1px;
  color: #c2cfe0;
  background-color: #c2cfe0;
  margin: 20px 0;
}

.variant-item__position {
  font-size: 18px;
  width: 30px;
  display: flex;
  align-content: inherit;
  justify-content: center;
  margin-top: 10px;
}
.variant-item__container {
  display: flex;
  align-items: flex-start;
  border: 1px solid transparent;
}

.ql-editor {
  font-size: 18px;
  min-height: 110px;
}
.ql-toolbar {
  text-align: left;
}
.editor-descr {
  text-align: left;
  color: #707683;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.variant-item__dragg {
  margin-top: 10px;
  cursor: grabbing;
  width: 6px;
  height: 30px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-size: 6px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='30' viewBox='0 0 6 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='6' width='2' height='2' transform='rotate(90 6 0)' fill='%2390A0B7'/%3e%3crect x='2' width='2' height='2' transform='rotate(90 2 0)' fill='%2390A0B7'/%3e%3crect x='6' y='4' width='2' height='2' transform='rotate(90 6 4)' fill='%2390A0B7'/%3e%3crect x='2' y='4' width='2' height='2' transform='rotate(90 2 4)' fill='%2390A0B7'/%3e%3crect x='6' y='8' width='2' height='2' transform='rotate(90 6 8)' fill='%2390A0B7'/%3e%3crect x='2' y='8' width='2' height='2' transform='rotate(90 2 8)' fill='%2390A0B7'/%3e%3crect x='6' y='12' width='2' height='2' transform='rotate(90 6 12)' fill='%2390A0B7'/%3e%3crect x='2' y='12' width='2' height='2' transform='rotate(90 2 12)' fill='%2390A0B7'/%3e%3crect x='6' y='16' width='2' height='2' transform='rotate(90 6 16)' fill='%2390A0B7'/%3e%3crect x='2' y='16' width='2' height='2' transform='rotate(90 2 16)' fill='%2390A0B7'/%3e%3crect x='6' y='20' width='2' height='2' transform='rotate(90 6 20)' fill='%2390A0B7'/%3e%3crect x='2' y='20' width='2' height='2' transform='rotate(90 2 20)' fill='%2390A0B7'/%3e%3crect x='6' y='24' width='2' height='2' transform='rotate(90 6 24)' fill='%2390A0B7'/%3e%3crect x='2' y='24' width='2' height='2' transform='rotate(90 2 24)' fill='%2390A0B7'/%3e%3crect x='6' y='28' width='2' height='2' transform='rotate(90 6 28)' fill='%2390A0B7'/%3e%3crect x='2' y='28' width='2' height='2' transform='rotate(90 2 28)' fill='%2390A0B7'/%3e%3c/svg%3e ");
}

.add-btn {
  margin-top: 10px;
}
.variant-item {
  display: flex;
  align-items: flex-start;
  padding: 8px 15px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: -15px;
  margin-left: -15px;
  border: 1px solid transparent;
}
.variant-item__label {
  display: block;
  width: 100%;
}
.variant-item__filed {
  margin-bottom: 8px;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #c2cfe0;
  background: #fff;
  color: #262b31;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  &:focus {
    border-color: #7db1fa;
  }
}
textarea.variant-item__filed {
  resize: vertical;
  min-height: 150px;
}

.variant-item__wrapper {
  width: 100%;
}

.variant-item__remove {
  &.cant-remove {
    transform: scale(0);
    width: 0px;
  }
  padding: 0;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 48px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_1212_7089)'%3e%3cpath d='M8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8C15.9952 3.58369 12.4163 0.00478125 8 0ZM10.6667 9.72466C10.9376 9.974 10.9551 10.3958 10.7057 10.6667C10.4564 10.9376 10.0346 10.9551 9.76372 10.7057C9.75016 10.6933 9.73716 10.6802 9.72466 10.6667L8 8.94266L6.276 10.6667C6.01116 10.9224 5.58913 10.9151 5.33334 10.6503C5.08384 10.3919 5.08384 9.98234 5.33334 9.724L7.05734 8L5.33334 6.276C5.07756 6.01116 5.08491 5.58913 5.34975 5.33334C5.60809 5.08384 6.01766 5.08384 6.276 5.33334L8 7.05734L9.72466 5.33334C9.974 5.06244 10.3958 5.04494 10.6667 5.29428C10.9376 5.54363 10.9551 5.96537 10.7057 6.23628C10.6933 6.24984 10.6802 6.26284 10.6667 6.27534L8.94266 8L10.6667 9.72466Z' fill='%23C2CFE0'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_1212_7089'%3e%3crect width='16' height='16' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

.poll-body__image-block {
  margin-bottom: 20px;
  width: 100%;
  height: 366px;
  img {
    width: 100%;
    height: 100%;
  }
  &._cover img {
    object-fit: cover;
  }
  &._contain img {
    object-fit: contain;
  }
}

.custom-cb {
  position: relative;
  .custom-cb__checkbox {
    z-index: 2;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &:checked + .custom-cb__text {
      &:before {
        background-color: var(--app-color);
        border-color: var(--app-color);
      }
      &::after {
        opacity: 1;
      }
    }
  }
  .custom-cb__text {
    color: #262b31;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding-left: 24px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 4px;
      border: 1px solid #c2cfe0;
    }
    &::after {
      opacity: 0;
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_1212_7094)'%3e%3cpath d='M2.58306 6.88763C2.35598 6.88772 2.13819 6.79746 1.97775 6.63675L0.147687 4.80737C-0.049229 4.61039 -0.049229 4.29109 0.147687 4.09411C0.344666 3.89719 0.663969 3.89719 0.860947 4.09411L2.58306 5.81623L7.13905 1.26024C7.33603 1.06332 7.65533 1.06332 7.85231 1.26024C8.04923 1.45721 8.04923 1.77652 7.85231 1.9735L3.18838 6.63675C3.02794 6.79746 2.81015 6.88772 2.58306 6.88763Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_1212_7094'%3e%3crect width='8' height='8' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: 8px;
      background-position: center;
    }
  }
}

.range-selection__label {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
}

.range-selection__creater {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.popper {
  max-width: 400px;
  width: 100%;
  padding: 15px !important;
  background-color: #fff !important;
  font-size: 16px;
  border-radius: 6px !important;
  box-shadow: 0px 1px 2px 0px rgba(56, 63, 72, 0.1),
    0px 2px 12px 0px rgba(37, 51, 66, 0.08) !important;
  #arrow {
    &::before {
      border-left: 1px solid rgba(56, 63, 72, 0.1);
      border-bottom: 1px solid rgba(56, 63, 72, 0.1);
      background-color: #fff !important;
    }
  }
}

.option-transition {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease, transform 0.4s ease;
  }

  &-enter-from {
    opacity: 0;
    transform: translateX(-5%);
  }
  &-leave-to {
    opacity: 0;
    transform: translateX(5%);
  }
}

.poll-item__answer {
  font-size: 18px;
  color: #202020;
}

.custom-fields-choise {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .custom-cb:last-child {
    margin-right: 0;
  }
}
.custom-fields-title {
  margin-right: 20px;
  font-weight: 500;
}

.tolltip-btn {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0.5C3.58172 0.5 0 4.08172 0 8.5C0 12.9183 3.58172 16.5 8 16.5C12.4183 16.5 16 12.9183 16 8.5C15.9952 4.08369 12.4163 0.504781 8 0.5ZM6.96 3.612C6.96 4.18196 7.42204 4.644 7.992 4.644C8.56196 4.644 9.024 4.18196 9.024 3.612V3.532C9.024 2.96204 8.56196 2.5 7.992 2.5C7.42204 2.5 6.96 2.96204 6.96 3.532V3.612ZM6.08 13.14H10.064V11.588H9.104V5.924H6V7.492H7.04V11.588H6.08V13.14Z' fill='%23C2CFE0'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: help;
}

.top-popper {
  .popper {
    width: fit-content;
    border: none !important;
    text-align: center;
  }
  .popper #arrow::before {
    border: none !important;
    border-bottom: 1px solid rgba(56, 63, 72, 0.1) !important ;
    border-right: 1px solid rgba(56, 63, 72, 0.1) !important;
  }
}

.centered-btn {
  margin: auto;
  padding: 12px 24px;
  font-size: 18px;
}

.sortable-drag {
  box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
}

.fade-enter-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.constructor__handlers {
  display: flex;
  gap: 10px;
}

.in-dev {
  opacity: 0.3;
  pointer-events: none;
}

.image-settings {
  margin-bottom: 20px;
}

.take-note {
  color: red;
  display: inline;
}

.letters-limit {
  margin-left: auto;
  font-size: 12px;
  color: #707683;
  &._err {
    color: red;
  }
}
